{% extends "_base.html" %}
{% block title %}Create Account{% end %}

{% block main %}
    <header class="page page--create">
        <h1>Create Account</h1>
    </header>
    <section class="auth auth--create">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Create Account">
    </section>
{% end %}
